* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8d9b8; 
  }
  
  .converter-container {
    width: 400px;
    padding: 20px;
    background-color: #e9e9e9; 
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 1px solid #ddd;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
  }
  
  
  form input, form select, button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border: none;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #555;
  }
  
  #error-message {
    color: red;
    font-size: 0.85em;
  }
  
  #result {
    margin-top: 15px;
    font-weight: bold;
    color: green;
  }
  
